
<h2>Download</h2>
<h3>Blockchain variables</h3>
<form name="form" novalidate>

  <div class="form-group">
    <label>Channel</label>
    <select ng-model="selectedChannel" material-select watch ng-options="o.channel_id for o in ctl.channels" placeholder="Channel ID" required>
    </select>
  </div>

  <div class="form-group">
    <label>Chaincode</label>
    <select ng-model="selectedCc" material-select watch ng-options="o.name+' ('+o.version+')' for o in ctl.chaincodes" placeholder="Contract ID" required>
    </select>
  </div>

  <div class="form-group">
    <label>Peers</label>
    <select ng-model="selectedPeers" multiple material-select watch ng-options="o.org+'/'+o.id as '('+o.org+') '+o['server-hostname'] for o in ctl.getPeers()" placeholder="Peers" required>
      <option value="" disabled selected>Select peer(s)</option>
    </select>
  </div>


  <div class="form-group">
    <label for="fcn" class="col-sm-2 control-label">Function name</label>
    <div class="col-sm-10">
      <select id="fcn" class="cbx" (change)="ChangingValue($event)" [value]='create' tabindex="50" ng-model="fcn" material-select watch required>
        <!--  remove the queryAll function, users might not need it-->
        <option value="queryAll">queryAll</option>
        <option value="query">query</option>
        

      </select>
     <!-- <input type="text" value="create" class="form-control" id="fcn" placeholder="Function name" ng-model="fcn" required> -->
    </div>
  </div>

  <h3>Identification</h3>
</div>
<div class="form-group">
  <div class="input-field col s12 invalid">
    <textarea id="username" name="username"
      class="materialize-textarea" ></textarea>
    <label for="username">Username</label>
  </div>



  <div class="form-group">
    <div class="input-field col s12 invalid"></div>
    <label for="password">Password </label>
    <input type="password" id="password" name="password">
</div>
<br>



<h3>Search project by title</h3>
<input type="text" id="title" />

    

<!--Formater of the json string to input in hyperledger-->
<button onclick="format_download()">Build the request</button>
<script src="pages/scripts/formater_download.js"></script>

<div class="form-group">
  <div class="input-field col s12 invalid">
      <textarea id="ccarguments" name="ccarguments"
        class="materialize-textarea"
        ng-model="args"></textarea>
      <label for="ccarguments">Formated output</label>
  </div>
     
  </div>

</form>
<!-- End of the formater -->

<!-- Downloader to MinIO-->
<!--
<input type="file" id="file-chooser" />
<button type="button" onclick="downloader();bucketcreate()" id="download-button">Download</button>
-->


<!-- invoke -->
<div ng-hide="ctl.invokeInProgress">
  <!-- query -->

  <br>

  <div class="row">
    <button class="btn btn-primary col s2" type="button" ng-click="ctl.query(selectedChannel, selectedCc, selectedPeers[0], fcn, args)" ng-disabled="form.$invalid">Query</button>
  <!-- <button class="btn btn-flat col s3" type="button" ng-click="fcn='query'; args='[&quot;a&quot;]'">Fill with sample query</button> -->
  </div>
  <br>
    <!-- history -->




  <div class="row" ng-hide="ctl.invokeInProgress || !ctl.params.history.length">

      <!--Collection of MinIO variables-->

<!--End of MinIO variables-->
    


    

  <div class="row">
  <button class="btn btn-primary col s3" type="button" onclick="downloader();" id="download-button" ng-disabled="ctl.error">Download data</button>
  </div>
 </div>
</div>

<div class="progress" ng-show="ctl.invokeInProgress">
    <div class="indeterminate"></div>
</div>

<!-- error (if any) -->
<div class="error" ng-show="ctl.error">
  <h2>Error</h2>
  <json-formatter open="2" json="ctl.error"></json-formatter>
</div>
<br>
<div class="row" ng-hide="ctl.invokeInProgress || !ctl.params.history.length">

</div>
<br>

<!-- transaction view -->
<div ng-show="ctl.transaction">


  <h2>Metadata</h2>
  <div class="row">
    <div class="col s12">
      <ul class="tabs" tabs>
        <li class="tab col s3"><a class="active" href="#tab-result">Result</a></li>
        <li class="tab col s3"><a href="#tab-info">Info</a></li>
        <li class="tab col s3"><a href="#tab-json">Json</a></li>
      </ul>
    </div>
    <div id="tab-result" class="col s12">
      <!-- <json-formatter open="1" json="ctl.transaction.transactionEnvelope.payload.data.actions[0].payload.action.proposal_response_payload.extension.results.ns_rwset"></json-formatter> -->
      <json-formatter open="2" json="ctl.result"></json-formatter>
    </div>

    <div id="tab-info" class="col s12">
      <p ng-if="!ctl.transaction.transactionEnvelope"><i>No metadata</i></p>

      <certificate title="Transaction creator" data="ctl.transaction.transactionEnvelope.payload.data.actions[0].header.creator.IdBytes"></certificate>

      <div ng-repeat="e in ctl.transaction.transactionEnvelope.payload.data.actions[0].payload.action.endorsements">
        <certificate title="Endorser" data="e.endorser.IdBytes"></certificate>
        <!-- <json-formatter open="1" json="e.endorser"></json-formatter> -->
      </div>

      <!-- ctl.transaction.transactionEnvelope.payload.data.actions[0].payload.action.proposal_response_payload.extension.results.ns_rwset[].rwset.writes[](key|value|is_delete) -->
    </div>

    <div id="tab-json" class="col s12">
      <json-formatter open="1" json="ctl.transaction"></json-formatter>
    </div>

  </div>
</div>

<div style="height: 200px"></div>
<div id="results"></div>  

<!-- Uploader to Minio -->
<script src="pages/scripts/downloadfile.js"></script>

